/* Write your code here. */
li {
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.thumbNail {
  opacity: 0.6;
}
.opacity {
  opacity: 1;
}
.button {
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}
